<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="io.github.prathamesh2640.sync.ui.SyncDashboardActivity"
            android:exported="false"
            android:label="Sync Dashboard" />
    </application>

</manifest>
